// margin utilities
$margin-100: 0.5rem;
$margin-200: 1rem;
$margin-400: 2rem;
$margin-500: 2.5rem;
$margin-600: 3rem;

// project dimensions
$project-width: 64rem;
$project-height: 85.375rem;

$project-border-radius: 2%;

// colors
$btn-color: hsl(227, 20%, 21%);
$btn-active-color: hsl(231, 24%, 20%);
$ff-color: hsl(0, 0%, 76%);
$bg-color-1: hsl(232, 22%, 10%);
$bg-color-body: #11121a;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'IM Fell Double Pica', serif;
    user-select: none;
}
button {
    cursor: pointer;
}

button,
button:focus {
    border: none;
    font-size: 1.5rem;
    padding: 1rem 1.7rem 1rem 1.7rem;
    background-color: $btn-color;
    border-radius: 1rem;
    color: $ff-color;
    position: absolute;
    right: $margin-600;
    bottom: $margin-600;
    z-index: 10000;
}

button:active {
    outline: none;
    z-index: 1000;
    background-color: $btn-active-color;
}

body {
    display: flex;
    margin: auto;
    width: $project-width;
    height: $project-height;
    justify-content: center;
    align-items: center;
    scale: 0.7;
    // background-color: $bg-color-body;
    background: rgb(17, 18, 26);
    background: linear-gradient(90deg, rgba(17, 18, 26, 1) 0%, rgba(10, 10, 15, 1) 50%, rgba(17, 18, 26, 1) 100%);
}

a {
    text-decoration: none;
}

h1,
h2,
span,
p {
    color: $ff-color;
}

h1 {
    font-size: 13.4375rem;
    text-align: center;
    border-bottom: 0.25rem solid $ff-color;
    font-weight: 100;
    width: 92%;
    margin: $margin-600 auto $margin-100 auto;
    height: 13.6875rem;
    white-space: nowrap;
}
span.text {
    display: inline-block;
    opacity: 0;
    filter: blur(4px);
}

h2 {
    font-size: 3.65rem;
    font-weight: 100;
}

p {
    font-size: 2rem;
    text-align: center;
    margin: $margin-600;
}

p.count {
    margin: $margin-100;
}
.container {
    height: $project-height;
    width: $project-width;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.previous-btn {
    left: $margin-600;
    width: max-content;
}

.project {
    background-color: $bg-color-1;
    height: $project-height;
    position: relative;
    border-radius: $project-border-radius;
    overflow: hidden;
}

.raven--bg:before {
    content: '';
    background-image: url(images/raven_gen.webp);
    position: absolute;
    // inset: 0;
    top: -20px;
    left: -99px;
    right: 110px;
    bottom: 0;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.23;
    border-radius: $project-border-radius;
    scale: 1.25;
}
header {
    position: relative;
    img.small-raven-icon {
        position: absolute;
        top: 1.5625rem;
        left: 44%;
    }
    .author {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: $margin-200;
        margin-bottom: $margin-400;
        span {
            margin-right: 0.6rem;
            margin-top: 0.7rem;
            font-size: 1.5em;
        }
    }
}

p {
    animation: fade-in 0.25s 0.25s forwards cubic-bezier(0.11, 0, 0.5, 0);
    opacity: 0;
}

@keyframes fade-in {
    100% {
        opacity: 1;
    }
}
